.sharing-module__container {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.sharing-module__container > * {
    margin: 8px 8px 0 0;
}

.sharing-module__email-button,
.sharing-module__embed-button {
    font-size: 11px;
    vertical-align: middle;
    height: 20px;
    padding: 0 6px;
    font-family: "Helvetica Neue", "HelveticaNeue" , "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #666;
}

.sharing-module__email-button {
    background-color: #555;
    border-radius: 3px;
    color: #fff;
}

.sharing-module__email-button:hover {
    border: 0;
    background-color: #3f3f3f;
}
.sharing-module__email-button--large {
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
}

.sharing-module__embed-button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
}

.sharing-module__embed-button:hover {
    background-color: #eee;
    color: #666;
}

.sharing-module__embed-button--large {
    height: 26px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 26px;
}